{{! Willsong - BLOG FOOTER PARTIAL }}

<footer id="foot_willsong">
	
	<section id="foot_content">
		<ul id="sociallinks_willsong">
			<li><a href="{{@blog.url}}/rss/" class="fa fa-rss"></a></li>
			<li><a href="http://twitter.com/kismat_konrad" class="fa fa-twitter"></a></li>
			<li><a href="https://www.facebook.com/matt.malloy.conrad" class="fa fa-facebook"></a></li>
			<li><a href="https://github.com/conrad" class="fa fa-github"></a></li>
		</ul>
	</section>
	
</footer>